@charset "UTF-8";
	.taskSubmitBody header{
		background-color: white;
		box-shadow: 0 2px 8px rgba(0,0,0,0.06);
	}
	.taskSubmitTopSection{
		margin-top: 80px;
		background: linear-gradient(
	        180deg,
	        #f5f7ff 0%,
	        #f8f5ff 40%,
	        #fff7fb 100%
	    );
		padding: 3.5rem 5rem;
	}
	.TSContainer{
		max-width:1200px;
		margin: 0 auto;
	}
	.TSContainer__top{
		margin-bottom: 10px;
	}
	.TSContainer__top P{
	    color: #888;
	    padding-bottom: 10px;
		font-size: 0.8rem;
	}
	.TSContainer__title{
		font-size: 4rem;
		font-weight: 600;
	}
	.TSContainer__sub{
		font-size: 1.5rem;
		color: #888;
	}
	.taskSubmitForm{
		padding: 1rem;
		background-color: #FAFAFA;
	}
	.TSFContainer{
		padding: 1rem;
		max-width:1200px;
		margin: 0 auto;
	}
	.taskSubmitContentForm{
		background-color: white;
		margin-top:30px;
		padding: 1rem;
	}
	.taskData{
		background-color: white;
		border: none;
		border-radius: 15px;
		margin: 0 auto;
		padding: 2rem 4rem;
	}
	.tag-weeks{
		 display: inline-block;
	     padding: 6px 14px;
	     font-size: 1rem;
	     font-weight: 500;
	     border-radius: 999px; 
	     background-color: #F2F4F6;
	     color: #374152;
	}
	.tag-title{
		 display: inline-block;
	     padding: 6px 14px;
	     font-size: 1rem;
	     font-weight: 500;
	     border-radius: 999px; 
	     background-color: #F3E8FF;
	     color: #7C3AED;  
	}
	.lmsCenterContainer__rightBox__card__middle{
		margin-top: 10px;
	}
	.lmsCenterContainer__rightBox__card__middle h3{
		font-weight: 600;
		margin-bottom: 10px;
		font-size: 2rem;
	}
	.lmsCenterContainer__rightBox__card__middle p{
		color: #4B5563;
		margin-bottom: 10px;
		font-size:1.4rem;
	}

	.lmsCenterContainer__rightBox__middle__file{
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.lmsCenterContainer__rightBox__middle__file p{
		font-size: 1rem;
	}
	.files__file{
		display: flex;
		align-items: center;
	    background-color: #F2F4F6;
	    color: #374152;
		font-size: 0.7rem;
		padding: 0.5rem;
		border-radius: 15px;
	}
	.files__file img{
		width: 13px;
		height: 13px;
		margin-right: 10px;
	}
	.files__file:hover{
		cursor: pointer;
	}
	.lmsCenterContainer__rightBox__card__row{
		margin-top: 20px;
		border-top: 1px solid #ccc;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.row__left{
		display: flex;
		align-items: center;
		margin-top:20px;
	}
	.row__left img{
		width:30px;
		height: 30px;
		margin-right: 10px;
	}
	.row__left p{
		font-size: 1.3rem;
		color: #888;
	}
	.row__left .endDateText{
		color: red;
		margin-left: 20px;
	}
	.TIF_card{
	  display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
      margin-bottom: 20px;
	}
	.TIF_card label{
	  margin-bottom: 10px;
      margin-top: 10px;
      font-weight: bold;
      font-size: 1.3rem;
      margin-right: 10px;
	}
   .TIF_card textarea{
      border-radius: 10px;
      padding:1rem;
      resize: none;
   }
   .TIF_card p{
   	  font-size: 0.8rem;
      color: #888;
   }
   .TIF_card span{
      color: red;
   }
   .TIF_card div{
   	width: 100%;
   }
   .TIF_card_file{
   	 border: 1px double #ccc;
   	 border-radius: 10px;
   	 padding:5rem;
   	 background-color: #F9FAFB;
   	 text-align: center;
   }
   .TIF_card_file_imgbox img{
   	 width: 80px;
   	 height: 80px;
   }
   .TIF_card_imgBox{
   	 max-width:70px;
   }
   .TIF_card_imgBox img{
   	 width: 70px;
   	 height: 70px;
   }
   .task_guide{
   	 background-color: #FFFBEB;
   	 display: flex;
   	 padding: 1rem;
   	 border-radius: 10px;
   }
   .TIF_card_text{
   	 margin-left: 20px;
   	 line-height: 2rem;
   }
   .TIF_card_text li{
   	 color: #888;
   	 font-size: 0.9rem;
   }
   	.taskData2{
		background-color: white;
		border: none;
		border-radius: 15px;
		margin: 0 auto;
		padding: 2rem 4rem;
		margin-top: 35px;
	}
   .taskData2__title{
   		font-size: 1.7rem;
   		font-weight: 600;
   		margin-bottom: 20px;
   }
   .TIF_card_keynum{
   		margin-top:10px;
   		display: flex;
   		justify-content: space-between;
   }
    .TIF_btns{
   	  display: flex;
   	  margin-top:50px;
   }
   .TIF_btns input[type="reset"]{
   	  width: 100%;
   	  background-color: white;
   	  border: 1px solid black;
      border-radius: 10px;
      font-size: 1.3rem;
      padding: 1rem;
   }
   .TIF_btns input[type="reset"]:hover{
   	 background-color: var(--color-navy);
   	 color: white;
   	 cursor: pointer;
   }
   .TIF_btns input[type="submit"]{
      width:100%;
      background-color: #111827;
      color: white;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1.3rem;
      padding: 1rem;
   }
   .TIF_btns input[type="submit"]:hover{
      cursor: pointer;
      background-color: var(--color-navy);
      cursor: pointer;
   }