<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.histudy.studycafe">
  	<select id="studycafeListSQL" resultType="com.histudy.studycafe.model.StudycafeDTO">
  		select * 
  		from studycafe
  	</select>
  	<select id="studycafeTicketCategorySQL">
  		select * 
		from studycafe stc join ticket_category tic on stc.studycafe_idx = tic.studycafe_idx
  	</select>
  	<select id="selectSeatInfoSQL" parameterType="Integer" resultType="com.histudy.studycafe.model.StudycafeJoinReservationDTO">
		select *
		from studycafe_reservation sr join studycafe_pay sp on sp.paymentId = sr.paymentId
		where pay_status = 'PAID' and seat_idx = #{seat_idx} AND to_timestamp(substr(reservation_endtime, 0, instr(reservation_endtime, '.')-1), 'YYYY-MM-DD"T"HH24:MI:SS') + INTERVAL '9' HOUR > SYSDATE
  	</select>
  	<select id="selectTicketInfoSQL" parameterType="Integer" resultType="com.histudy.studycafe.model.TicketJoinTicketCategoryDTO">
  		select *
		from ticket_category tc 
		join studycafe_ticket st on tc.ticket_category_idx = st.ticket_category_idx
		where tc.ticket_category_idx = #{ticket_category_idx}
  	</select>
  	 <select id="selectTicketTotalAmountSQL" parameterType="Integer" resultType="com.histudy.studycafe.model.TicketJoinTicketCategoryDTO">
  		select *
		from ticket_category tc 
		join studycafe_ticket st on tc.ticket_category_idx = st.ticket_category_idx
		where ticket_idx = #{ticket_idx}
  	</select>
  	<select id="selectSeatSQL" parameterType="Integer" resultType="com.histudy.studycafe.model.SeatDTO">
  		select * 
  		from seat
  		where studycafe_idx = #{studycafe_idx}
  	</select>
  	<insert id="insertOrderSQL" parameterType="com.histudy.studycafe.model.PayDTO">
  		insert into studycafe_pay(paymentId,orderName, totalAmount, pay_status, user_idx) values(#{paymentId}, #{orderName}, #{totalAmount}, 'NOT PAID', #{user_idx})
  	</insert>
  	<update id="updatePaySQL" parameterType="com.histudy.studycafe.model.PayDTO">
  		update studycafe_pay set storeId = #{storeId},
  		orderName = #{orderName}, 
  		totalAmount = #{totalAmount}, 
  		pay_status = #{pay_status},
  		pay_method = #{pay_method},
  		paidAt = #{paidAt},
  		statusChangedAt = #{statusChangedAt},
  		paid = #{paid},
  		pgProvider = #{pgProvider},
  		vat = #{vat},
  		supply = #{supply}
  		where paymentId = #{paymentId} and pay_status = 'NOT PAID'
  	</update>
  	<select id="selectReceiptSQL" parameterType="String" resultType="com.histudy.studycafe.model.PayDTO">
  		select * from studycafe_pay where paymentId = #{paymentId} 
  	</select>
  	<insert id="insertRegisterReservationSQL" parameterType="com.histudy.studycafe.model.StudycafeReservationDTO">
  		INSERT INTO studycafe_reservation(user_idx, seat_idx, reservation_starttime, reservation_endtime,reservation_status, ticket_idx, paymentId) 
  		VALUES(#{user_idx}, #{seat_idx}, #{reservation_starttime}, #{reservation_endtime}, #{reservation_status}, #{ticket_idx}, #{paymentId})
  	</insert>
  	<select id="selectTicketTimeSQL" parameterType="Integer" resultType="Integer">
  		select ticket_time from studycafe_ticket where ticket_idx = #{ticket_idx}
  	</select>
  </mapper>