<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.histudy.studycafe">
	<!-- 1. 스터디카페 목록 -->
	<select id="studycafeListSQL" resultType="com.histudy.studycafe.model.StudycafeDTO">
		select studycafe_idx, studycafe_name, studycafe_lat, studycafe_lng
		from studycafe
	</select>


	<!-- 2. 카테고리 목록 -->
	<select id="studycafeTicketCategorySQL" parameterType="Integer" resultType="com.histudy.studycafe.model.TicketJoinTicketCategoryDTO">
		select ticket_category_idx, ticket_category_name, studycafe_idx
		from ticket_category
		where studycafe_idx = #{studycafe_idx}
	</select>

	<!-- 3. 티켓 목록 -->
	<select id="selectTicketInfoSQL" parameterType="Integer" resultType="com.histudy.studycafe.model.TicketJoinTicketCategoryDTO">
		select st.ticket_idx, st.ticket_name, st.ticket_amount, st.ticket_time, tc.ticket_category_name
		from studycafe_ticket st
		join ticket_category tc on st.ticket_category_idx = tc.ticket_category_idx
		where tc.ticket_category_idx = #{ticket_category_idx}
	</select>

	<!-- 4. 티켓 금액 조회 -->
	<select id="selectTicketTotalAmountSQL" parameterType="Integer" resultType="Integer">
		select ticket_amount
		from studycafe_ticket
		where ticket_idx = #{ticket_idx}
	</select>

	<!-- 5. 티켓 시간 조회 -->
	<select id="selectTicketTimeSQL" parameterType="Integer" resultType="Integer">
		select ticket_time
		from studycafe_ticket
		where ticket_idx = #{ticket_idx}
	</select>

	<!-- 6. 좌석 목록 -->
	<select id="selectSeatSQL" parameterType="Integer" resultType="com.histudy.studycafe.model.SeatDTO">
		select seat_idx, seat_num, seat_type, seat_status, seat_x, seat_y, seat_w, seat_h, studycafe_idx
		from seat
		where studycafe_idx = #{studycafe_idx}
	</select>

	<!-- 7. 좌석 상태 확인 -->
	<select id="selectSeatInfoSQL" parameterType="Integer" resultType="Integer">
		select count(*)
		from studycafe_reservation sr
		join studycafe_pay sp on sr.paymentId = sp.paymentId
		where sr.seat_idx = #{seat_idx} and sp.pay_status = 'PAID' and sr.reservation_endtime > systimestamp
	</select>

	<!-- 8. 결제 전 -->
	<insert id="insertOrderSQL" parameterType="com.histudy.studycafe.model.PayDTO">
		insert into studycafe_pay (paymentId, orderName, totalAmount, pay_status, user_idx, paidAt)
		                    values(#{paymentId}, #{orderName}, #{totalAmount}, 'PENDING', #{user_idx}, systimestamp)
	</insert>

	<!-- 9. 결제 완료 -->
	<update id="updatePaySQL" parameterType="com.histudy.studycafe.model.PayDTO">
		update studycafe_pay
		set storeId = #{storeId}, orderName = #{orderName}, totalAmount = #{totalAmount}, pay_status = #{pay_status},
		pay_method = #{pay_method}, paidAt = #{paidAt}, statusChangedAt= #{statusChangedAt}, paid = #{paid},
		pgProvider = #{pgProvider}, vat = #{vat}, supply = #{supply} where paymentId = #{paymentId} and pay_status = 'PENDING'
	</update>

	<!-- 10. 좌석 동시성 처리 -->
	<update id="updateSeatToReservedSQL" parameterType="Integer">
		update seat set seat_status = 'RESERVED'
		where seat_idx = #{seat_idx} and seat_status = 'AVAILABLE'
	</update>


	<!-- 11. 예약 등록 -->
	<insert id="insertRegisterReservationSQL" parameterType="com.histudy.studycafe.model.StudycafeReservationDTO">
		insert into studycafe_reservation (reservation_idx, user_idx, seat_idx, reservation_starttime, reservation_endtime, reservation_status, ticket_idx, paymentId)
								   values (reservation_idx.nextval,#{user_idx}, #{seat_idx}, #{reservation_starttime}, #{reservation_endtime}, 'RESERVED', #{ticket_idx}, #{paymentId})
	</insert>

	<!-- 12. 영수증 조회 -->
	<select id="selectReceiptSQL" parameterType="String" resultType="com.histudy.studycafe.model.PayDTO">
		select paymentId, storeId, orderName, paid, user_idx, pay_method, pay_status, statusChangedAt, paidAt, totalAmount, pgProvider, vat, supply
		from studycafe_pay
		where paymentId = #{paymentId}
	</select>
</mapper>
