@charset "UTF-8";
	#studyContentPage header{
		background-color: white;
		box-shadow: 0 2px 8px rgba(0,0,0,0.06);
	}
	.studyContent{
	  margin-top: 80px;
      background-color: #FFF4EE;
	}
	.studyContentContainer{
		padding: 3rem 5rem;
		display: flex;
		justify-content: space-between;
	}
	.studyContent__top{
		margin-bottom: 20px;
	}
	.studyContent__top p{
		color: #888;
		padding-bottom: 10px;
		font-size: 0.8rem;
	}
	.studyContent__title{
		font-size: 3.5rem;
		font-weight: 600;
	}
	.studyContent__sub{
		margin-top:10px;
		font-size:1.3rem;
		color: #4B5563;
	}
	.studyContent-tag{
		 display: inline-block;
	     padding: 6px 14px;
	     font-size: 1rem;
	     font-weight: 500;
	     border-radius: 999px; 
	     background-color: #F3E8FF;
	     color: #7C3AED;  
	}
	.studyContent__left__box__cate{
		display: flex;
		align-items: center;
		padding-top:30px;
	}
	.studyContent__left__box__cate img{
		width:18px;
      	margin-right: 8px;
	}
	.st_cate{
		display: flex;
		align-items: center;
		margin-right: 15px;
		background-color: white;
		box-shadow: 0 0 1px rgb(0,0,0,0.2);
		border-radius: 30px;
		padding:0.7rem;
	}
	.st_cate span{
		font-size: 0.8rem;
	}
	.studyContent__left{
		max-width: 750px;
	}
	.studyContent__left__box__reader{
		padding: 1rem;
		display: flex;
		align-items: center;
		margin-top:30px;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0 0 1px rgb(0,0,0,0.2);
	}
	.studyContent__left__box__reader img{
		width: 85px;
		height: 85px;
		border-radius: 100%;
		margin-right:20px;
		margin-left: 10px;
	}
	.studyContent__left__box__reader__text{
		line-height: 1.8rem;
	}
	.studyContent__left__box__reader__text p{
		color: #4B5563;
		font-size:1rem;
	}
	.studyContent__left__box__reader__text h3{
		font-size:1.5rem;
		font-weight: 500;
	}
	.studyContent__right{
		min-width:500px;
		background-color: white;
		padding:2rem;
		border-radius: 20px;
		box-shadow: 0 3px 10px rgb(0,0,0,0.2);
		margin-left:30px;
		margin-top: 50px;
	}
	.studyContent__right__top img{
		width:20px;
		margin-right:10px;
	}
	.studyContent__right__top__tag{
		display: flex;
		max-width:130px;
	    padding: 6px 14px;
	    font-size: 1rem;
	    font-weight: 500;
	    border-radius: 999px; 
	    background-color: #CCFBF1;
	    color: #0F766E;
	}
	.studyContent__right__top__title{
		font-size: 1.2rem;
		color: #666;
		margin-top: 20px;
	}
	.studyContent__right__middle{
		margin-top:30px;
	}
	.studyContent__right__middle__box{
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #ccc;
		margin-bottom: 25px;
	}
	.studyContent__right__middle__box p{
		font-size:0.9rem;
		color: #565F6C;
		margin-bottom:10px;
	}
	.studyContent__right__btns{
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap:0.5rem;
		padding-bottom: 30px;
		border-bottom: 1px solid #999;
		margin-top: 50px;
	}
	.studyContent__right__btns input{
		padding:1rem;
		border: none;
		border-radius: 20px;
		font-size: 1rem;
	}
	.studyContent__right__btns .btn1{
		background-color: #111827;
		color: white;
	}
	.studyContent__right__btns .btn1:hover{
		cursor: pointer;
		background-color: var(--color-navy);
	}
	.studyContent__right__btns .btn2{
		background-color: white;
		color: black;
		border: 1px solid #111827;
	}
	.studyContent__right__btns .btn2:hover{
		cursor: pointer;
		background-color: var(--color-navy);
		color: white;
	}
	.trtr{
		margin-top: 30px;
		text-align: center;
		font-size:0.7rem;
	}
	.ajaxBtns{
		display: flex;
		padding: 1rem 6rem;
		gap: 2.5rem;
		font-size: 1.3rem;
		border-bottom: 1px solid #ccc;
	}
	.ajaxBtns p{
		cursor: pointer;
		border-bottom: 1px solid white;
	}
	.ajaxBtns p:hover{
		border-bottom: 1px solid #ccc;
	}
	.studyContent__dt{
		padding:3rem;
	}
	.studyContent__dt__container{
		max-width:1000px;
		margin: 0 auto;
	}
	.studyContent__dt__container textarea{
		margin-top: 30px;
		border-radius: 10px;
        padding:1rem;
        width:100%;
        resize: none;
	}
	.studyContent__dt__btns{
		display: flex;
		margin-top:30px;
	}
	.studyContent__dt__btn_l{
		flex: 1;
		padding: 2rem;
		background-color: #F6EEFF;
		border-radius: 10px;
		margin:10px;
	}
	.studyContent__dt__btn_l img{
		width: 70px;
		border: 1px solid #ccc;
		border-radius: 100%;
		padding:0.3rem;
		background-color: #E9D5FF;
	}
	.studyContent__dt__btn_l h2{
		font-size: 3rem;
		color: #7E22CE;
	}
	.studyContent__dt__btn_r{
		flex: 1;
		padding: 2rem;
		background-color: #D5FBF3;
		border-radius: 10px;
		margin: 10px;
	}
	.studyContent__dt__btn_r img{
		width: 70px;
		border: 1px solid #ccc;
		border-radius: 100%;
		padding:0.3rem;
		background-color: #99F6E4;
	}
	.studyContent__dt__btn_r h2{
		color: #0F766E;
		font-size: 3rem;
	}
	.ch_study{
		background-color: #FAFAFA;
		padding: 2rem 6rem;
	}
	.ch_study__top h1{
		font-size:3rem;
		font-weight: 550;
	}
	.studyLocation{
		margin-top:30px;
		margin-bottom:30px;
	}
	.studyLocation h1{
		margin-bottom:30px;
	}
	.studyLocationAddr{
		display: flex;
		justify-content: center;
	}
	.studyLocation input[type="text"]{
		padding:1rem;
		font-size:1rem;
		border: 1px solid #ccc;
		border-radius: 10px;
		width:100%;
	}
	#map{
		border: 1px solid black;
		border-radius: 10px;
		margin-bottom: 10px;
		z-index:0;
	}
	.studyReview__card{
		border: 1px solid black;
		border-radius: 15px;
		margin-bottom:25px;
		padding: 1rem;
	}
	.studyReview__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	.studyReview__card__top{
		display: flex;
		justify-content: space-between;
		margin-bottom:10px;
	}
	.studyReview__card__top__left{
		display: flex;
		align-items: center;
	}
	.studyReview__card__top__left img{
		width:50px;
		height:50px;
		border-radius: 100%;
	}
	.studyReview__card__top__left__text{
		margin-left: 15px;
	}
	/* 모달 css */
	.modalBg{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.5);
		display:flex;
		justify-content:center;
		align-items:center;
		z-index:999;
	}
	
	.modalBox{
		background:white;
		padding:30px;
		width:400px;
		border-radius:10px;
	}
	
	.modalBox textarea{
		width:100%;
		margin:15px 0;
	}
	
	.modalBtns{
		display:flex;
		justify-content: flex-end;
		gap:10px;
	}