@charset "UTF-8";
   #studyCreatePage header{
      background-color: white;
   }
   .studyCreate{
      padding: 1rem;
      margin-top: 80px;
      background-color: #FFF4EE;
   }
   .studyCreateContainer{
      max-width: 900px;
      margin: 0 auto;
      background-color: white;
      border-radius: 20px;
      width: 100%;
      padding:3rem;
   }
   .studyCreate__Data{
      margin-bottom: 30px;
   }
   .studyCreate__title{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 30px;
   }
   .studyCreate__Data__Top{
      border-bottom: 1px solid black;
      text-align: left;
   }
   .studyData{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
   }
   .studyData label{
      margin-bottom: 10px;
      margin-top: 10px;
      font-weight: bold;
   }
   .studyData input, select{
      border: 1px solid #888;
      border-radius: 10px;
      padding: 1rem;
   }
   .studyData textarea{
      border-radius: 10px;
      padding:1rem;
   }
   .studyCreate__btns input[type="submit"]{
      width:100%;
      background-color: #111827;
      color: white;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1.3rem;
      padding: 1rem;
   }
   .studyCreate__btns input[type="submit"]:hover{
      cursor: pointer;
      background-color: var(--color-navy);
   }
   .studyData__sub{
      font-size: 0.8rem;
      color: #888;
   }
   #map{
      z-index:0;
   }
   .map-instruction {
       font-size: 1.1rem;
       font-weight: bold;
       margin-bottom: 0.5rem;
       text-align: left;
       margin-top:1rem;
   }
   
   .map-subtext {
       font-size: 0.9rem;
       color: #555;
       margin-top: 0.5rem;
       margin-bottom: 1rem;
   }
   
   #study_address{
       width: 100%;
       padding: 0.8rem;
       border-radius: 8px;
       border: 1px solid #ccc;
       background-color: #f9f9f9;
   }
   .study_content_footer{
      display: flex;
   }
