@charset "UTF-8";
/* == root 기본 세팅 == */
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}