@charset "UTF-8";

:root {
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-navy: #193546;
    --color-lightnavy: #243148;
    --color-gray: #cccccc;
    --color-lightgray: #f4f4f4;
    --color-yellow: #f9c74f;
    --color-orange: #f9844a;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Pretendard', sans-serif; background-color: #fff; }

h1 { margin: 20px 0 20px 3%; }

.admin {
	margin-top: 8%;
    margin-left: 3%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.admin__menu {
    width: 20%;
    list-style: none;
    padding: 0;
    background-color: var(--color-navy);
    border-radius: 8px;
    overflow: hidden;
}

.admin__menu li:first-child {
    padding: 15px;
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--color-lightnavy);
}

.admin__menu__item a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--color-white);
    border-bottom: 1px solid #34445c;
    transition: 0.3s;
}

.admin__menu__item a:hover {
    background-color: var(--color-lightnavy);
    color: var(--color-yellow);
}

.admin__menu__field {
    margin-left: 10px;
    width: 75%;
    height: 550px;
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    padding: 0; 
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}