@charset "UTF-8";
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 100%;
	z-index: 1;
	background-color: #193546;
	color: #ffffff;
}

.mainTitle {
	font-size: 1.8rem;
}

.header__nav__menu {
	display: flex;
	gap: 4px;
}
.header__nav__menu__item {
	font-size: 1rem;
	font-weight: bold;
	padding: 8px 16px;
	display: block;
	border-bottom: 1px solid transparent;
}

.header__nav__menu__item:hover {
	border-bottom: 1px solid #ffffff;
}