@charset "UTF-8";
/* == root 글로벌 변수 == */
:root {
	/* 헤더/푸터 기본 색상 */ 
	--color-primary: var(--color-white);
	--color-text-variant: var(--color-navy);
	
	--color-navy: #1E293B;
}

html {
	scroll-behavior: smooth;
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-text);
}
/* == Commons ==*/
.section {
	padding: 4rem;
	text-align: center;
	min-height: auto;
}

.title {
	font-size: 2.5rem;
	margin: 1rem 0;
}

.description {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #1E293B;
  opacity: 0.75;
}

.max-container { /* 이거 css마다 쓰지말고 그냥 클래스 옆에 붙힌거임 */
	width: min(92%, 1600px);
	margin:0 auto;
}