<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<mappers>
	<mapper resource="sqlMapper/userSQL.xml" />
	<mapper resource="sqlMapper/studySQL.xml"></mapper>
	<mapper resource="sqlMapper/admin.xml"/>
	<mapper resource="sqlMapper/mentoringSQL.xml"/>
	<mapper resource="sqlMapper/lecture.xml"/>
	<mapper resource="sqlMapper/studycafeMapper.xml"/>
	<mapper resource="sqlMapper/mypageSQL.xml" />
	<mapper resource="sqlMapper/scheduleSQL.xml" />
	
</mappers>
</configuration>